{
	"extends": ["airbnb", "airbnb/hooks", "plugin:prettier/recommended"],
	"plugins": ["prettier", "import", "@typescript-eslint"],
	"parser": "@typescript-eslint/parser",
	"env": {
		"browser": true,
		"es6": true
	},
	"rules": {
		"react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
		"react/prop-types": "off",
		"import/extensions": "off",
		"react/jsx-props-no-spreading": "warn",
		"react/react-in-jsx-scope": "off",
		"react/forbid-prop-types": "off",

		"jsx-a11y/anchor-is-valid": "off",
		"jsx-a11y/label-has-associated-control": "off",

		"no-underscore-dangle": "off",
		"no-param-reassign": "warn",
		"no-use-before-define": "off",

		"no-unused-vars": "off",
		"no-shadow": "off",

		"@typescript-eslint/no-unused-vars": ["warn"],
		"@typescript-eslint/no-shadow": ["error"],

		"import/no-unresolved": "off",
		"import/prefer-default-export": "off",
		"import/order": [
			"error",
			{
				"groups": ["builtin", "external", "parent", "sibling", "index"],
				"alphabetize": {
					"order": "asc",
					"caseInsensitive": true
				}
			}
		]
	},
	"settings": {
		"import/resolver": {
			"node": {
				"extensions": [".js", ".jsx", ".ts", ".tsx"]
			}
		}
	},
	"overrides": [
		{
			"files": ["*.slice.*"],
			"rules": {
				"no-param-reassign": "off"
			}
		}
	]
}
